*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #25202F;
}

.section {
    width: 100%;
}

.header {
    width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.menu-wrapper a {
    text-decoration: none;
    color: #7E7F86;
}

.menu-wrapper {
    position: relative;
}

.logo {
    position: absolute;
}

.menu_ul {
    display: flex;
    margin-left: 10%;
}

.li_item {
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
}

.li_item a:hover {
    color: black;
}

.li_item a:focus {
    color: black;
}

.menu-wrapper a {
    font-size: 20px;
}

.header {
    margin-top: 72px;
    min-height: 200px;
}

.menu {
    background: url(../images/user-image1.png) no-repeat 75% -15px;
}

.man {
    margin-top: 7%;
    padding-bottom: 5%;
}

.words {
    margin-bottom: 20%;
    width: 40%;
    font-size: 24px;
}

.portrait {
    width: 60%;
}

.bttn {
    display: block;
    text-align: center;
    font-size: x-large;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    border-radius: 100px;
    width: 210px;
    /* height: 60px; */
    padding: 15px 0;
    text-decoration: none;
    margin-top: 50px;
}

.name {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------Servises-------*/

.block_name {
    font-size: 18px;
    border-bottom: 2px solid #8643DC;
    color: #8643DC;
    padding-bottom: 10px;
    width: 50px;
    margin-bottom: 1%;
}

.left_bar {
    width: 220px;
    border: solid 1px white;
}

.description {
    font-size: 36px;
    font-weight: lighter;
}

.articles {
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.articles:nth-child(1){
    margin: 0 20px;
}

.article_name {
    text-align: left;
    margin-bottom: 13%;
    margin-left: 23%;
    font-size: 24px;
}

.article {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.text1 {
    width: 350px;
    background: url(../images/PhoneIcon.svg) no-repeat 2% 30px;
    padding-top: 5%;
}

.text2 {
    width: 350px;
    background: url(../images/Wi-fi.svg) no-repeat 2% 30px;
    padding-top: 5%;
}

.text3 {
    width: 350px;
    background: url(../images/MenuIcon.svg) no-repeat 2% 30px;
    padding-top: 5%;
}

/*--------portfolio-------------*/

.portfolio {
    margin-top: 150px;
}

.high_bar {
    display: flex;
    justify-content: space-between;
}

.explore {
    font-size: 24px;
    text-decoration: underline;
    color: #25202F;
    /* color: #25202F;
    border-bottom: 2px #25202F solid;
    padding-bottom: 1px; */
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left_picture,
.right_picture {
    
    margin: 0 -30px;
}

/*---------Blog------------*/

.blog {
    margin-top: 150px;
}

.grid {
    width: 140px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 101px);
    grid-gap: 30px;
}

.first__signature {
    grid-column: 2/7;
    grid-row: 1/3;
    background-image: url(../images/img1.png);

}

.signature {
   margin-top: 75%;
} 


.signature__data1 {
    color: #8643DC;
    font-size: 16px;
}

.signature__description1 {
    font-size: 20px;
}

.gallery__img2 {
    position: relative;
    grid-column: 7/11;
    grid-row: 1/4;
    background-image: url(../images/img2.png);
}

.signature__data2 {
    font-size: 16px;
    color: red;
}

.signature__description2 {
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    color: red;
}

.signature__data3 {
    font-size: 16px;
    color: red;
}

.signature__description3 {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.gallery__img3 {
    position: relative;
    grid-column: 11/15;
    grid-row: 1/4;
    background-image: url(../images/img3.png);
}

.gallery__signature1 {
    position: absolute;
    top:  66%;
    left: 10%;
}

.gallery__signature2 {
    position: absolute;
    top:  73%;
    left: 10%;
}

/*---------contact form-------------*/

.section-form {
    margin-top: 150px;
}

.form {
    width: 500px;
}

.block_name_form {
    font-size: 18px;
    border-bottom: 2px solid #8643DC;
    color: #8643DC;
    padding-bottom: 10px;
    width: 90px;
    margin-bottom: 1%;
}

.mail {
    text-decoration: none;
    font-size: 24px;
    color: #8643DC;
}

#contact-form {
    width: 100%;
}

#name,
#mail,
#message
{
    margin-top: 10%;
    padding-bottom: 4%;
    border: none;
    border-bottom: 1px solid #DAD2E3;
    font-size: 20px;
    width: 225%;
    outline: none;
}

.form-btn {
    text-align: center;
    font-size: 18px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    border-radius: 100px;
    width: 200px;
    padding: 20px 0;
    margin-top: 25px;
}
/* -----------footer------------- */

h2 {
    font-size: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-bottom: 3%;
}

.contacts {
    margin-top: 3%;
}

.contacts img {
    padding: 0 20px;
}